@{
    ViewData["Title"] = "LoginAdmin";
}
<link href="~/css/EstilosLogin.css" rel="stylesheet" />

<!-- Encabezado de la Página -->
<h2>Login</h2>

<!-- Contenedor Principal -->
<div class="cuadro-main">

    <!-- Sección Izquierda con Imagen -->
    <div class="div-izq">
        <img src="~/img/imgLM/logo.png"
             style="border-bottom-left-radius: 25px; border-top-left-radius: 25px;"
             alt="Logo" />
    </div>

    <!-- Formulario de Login -->
    <form asp-action="LoginAdmin" method="post" class="formu">
        <!-- Campo Correo -->
        <div class="form-group">
            <label for="correo">Correo</label>
            <input type="text" class="form-control" id="correo" name="correo" required>
        </div>

        <!-- Campo Password -->
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>

        <!-- Botón de Envío -->
        <button type="submit" class="btnLogin">Login</button>

        <!-- Validación de Errores -->
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <!-- Enlace Olvidar Contraseña -->
        <div class="text-right">
            <a href="#" class="olvide-password">Olvidé mi contraseña</a>
        </div>
    </form>
</div>
